@model Calculator
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <div id="container" style="width:100%; height:400px;"></div>



<form asp-controller="Calculator" asp-action="Index" method="post">
    <div class="form-group">
        <div class="row">
            <label asp-for="InitialAmount" class="col-lg-2"></label>
            <input type="number" step="0.05" asp-for="InitialAmount" class="col-lg-2" />
        </div>
        <div class="row">
            <label asp-for="TargetAmount" class="col-lg-2"></label>
            <input type="number" asp-for="TargetAmount" class="col-lg-2" />
        </div>
        <div class="row">
            <label asp-for="ContributionYears" class="col-lg-2"></label>
            <input type="number" asp-for="ContributionYears" class="col-lg-2" />
        </div>
        <div class="row">
            <label asp-for="AnnualContribution" class="col-lg-2"></label>
            <input type="number" asp-for="AnnualContribution" class="col-lg-2" />
        </div>
        <div class="row">
            <label asp-for="Inflation" class="col-lg-2"></label>
            <input type="number" asp-for="Inflation" class="col-lg-2" />
        </div>
        
        <div class="row">
            <label asp-for="RateOfReturn" class="col-lg-2"></label>
            <input type="number" disabled="disabled" class="col-lg-2" asp-for="RateOfReturn" />
        </div>
        <div class="row">
            <input type="submit" value="Calculate" asp-action="Index" />
        </div>
    </div>
</form> 